.gitsecret/keys/random_seed
!*.secret
zsh/secret
mail/mbsyncrc
mail/msmtp/config
misc/spotifyd.conf
misc/wakatime.cfg
misc/nextcloud
misc/calcurse/caldav/config
config/msmtp/config
config/isync/mbsyncrc
config/calcurse/caldav/config
config/wakatime/wakatime.cfg
config/zsh/secret
config/nextcloud/nextcloud
config/spotifyd/spotifyd.conf
