[submodule "misc/ranger/plugins/devicons2"]
	path = misc/ranger/plugins/devicons2
	url = https://github.com/cdump/ranger-devicons2.git
[submodule "misc/ranger/plugins/devicons"]
	path = misc/ranger/plugins/devicons
	url = https://github.com/cdump/ranger-devicons2
[submodule "gtk/Tela-icon-theme"]
	path = theming/Tela-icon-theme
	url = https://github.com/vinceliuice/Tela-icon-theme.git
[submodule "gtk/themes/material-ocean"]
	path = theming/themes/material-ocean
	url = https://github.com/material-ocean/Gtk-Theme.git
[submodule "local/share/icons/Tela-Icons"]
	path = local/share/icons/Tela-Icons
	url = https://github.com/vinceliuice/Tela-icon-theme.git
[submodule "local/share/themes/Material-Ocean"]
	path = local/share/themes/Material-Ocean
	url = https://github.com/material-ocean/Gtk-Theme
[submodule "local/share/themes/material-ocean"]
	path = local/share/themes/material-ocean
	url = https://github.com/material-ocean/Gtk-Theme
[submodule "config/ranger/plugins/devicons"]
	path = config/ranger/plugins/devicons
	url = https://github.com/cdump/ranger-devicons2.git
