@import "../../theme/tokens.scss";

.bluetooth-dropdown {
  background-color: $base;
  padding: 16px;
  border-radius: $rad;

  .popup-header {
    margin-bottom: 12px;

    .popup-title {
      font-size: $larger;
      font-weight: bold;
      color: $text;
    }

    .close-btn {
      min-width: 14px;
      min-height: 20px;
      border-radius: $rad;
      color: rgba($text, 0.30);
      background: transparent;
      transition: all 0.2s ease;

      &:hover {
        color: $red;
      }
    }
  }

  .entry-card {
    background-color: $mantle;
    border-radius: $rad;
  }

  .bluetooth-entry {
    padding: 10px 12px;
    border-radius: $rad;
    background: transparent;
    transition: all 0.2s ease;

    &:hover {
      background: $trough;
    }

    &:active {
      background: $mantle;
    }

    .bluetooth-icon {
      font-size: 24px;
      min-width: 26px;
      color: rgba($subtext1, 0.5);
    }

    .bluetooth-name {
      font-size: $normal;
      font-family: "Inter";
      color: $text;
    }

    &.is-connected {
      .bluetooth-icon {
        color: $green;
      }
    }
  }
}
