./dwmblocks/dwmblocks
./tabbed/tabbed
./tabbed/xembed
./dmenu/dmenu
./dmenu/stest
./dmenu/dmenu_run
./dmenu/dmenu_path
./slock/slock
./xbanish/xbanish
./urlview/urlview
./dwm/dwm
./dwm/dwmc
./scroll/scroll
./grabc/grabc
./st/st
./sxiv/sxiv
./sent/sent
./ponymix/ponymix
./dwmblocks/dwmblocks.o
./tabbed/xembed.o
./tabbed/tabbed.o
./dmenu/dmenu.o
./dmenu/util.o
./dmenu/stest.o
./dmenu/drw.o
./slock/explicit_bzero.o
./slock/slock.o
./xbanish/xbanish.o
./urlview/quote.o
./urlview/dokey.o
./urlview/enter.o
./urlview/urlview.o
./dwm/dwm.o
./dwm/util.o
./dwm/drw.o
./grabc/grabc.o
./st/st.o
./st/x.o
./sent/sent.o
./sent/util.o
./sent/drw.o
./ponymix/pulse.o

**/*.o
