# Ignore everything
*

# Don't Ignore these files
!.gitignore
!antibody
!BetterDiscord
!Bitwarden
!calcurse
!dunst
!fontconfig
!gtk-2.0
!gtk-3.0
!gtk-4.0
!htop
!isync
!lf
!mimeapps.list
!mpd
!mpv
!msmtp
!mutt
!ncmpcpp
!neofetch
!newsboat
!nextcloud
!notmuch
!pulse
!qt5ct
!ranger
!readline
!spotifyd
!surf
!tmate
!tmux
!vdirsyncer
!vim
!wakatime
!wgetrc
!X11
!zathura
!zsh
