# Ignore everything
*

# Don't Ignore these files
!.gitignore
!antibody
!antibody/**
!BetterDiscord
!calcurse
!calcurse/hooks
!dunst
!dunst/**
!fontconfig
!fontconfig/**
!gtk-2.0
!gtk-2.0/**
!gtk-3.0
!gtk-3.0/**
!gtk-4.0
!gtk-4.0/**
!htop
!htop/**
!isync
!lf
!lf/**
!mimeapps.list
!mimeapps.list/**
!mpd
!mpv
!mpv/**
!nvim
!nvim/**
!msmtp
!mutt
!mutt/**
!ncmpcpp
!ncmpcpp/**
!neofetch
!neofetch/**
!newsboat
!newsboat/**
!nextcloud
!nextcloud/**
!notmuch
!notmuch/**
!pulse
!qt5ct
!qt5ct/**
!ranger
!ranger/**
!readline
!readline/**
!spotifyd
!surf
!tmate
!tmate/**
!tmux
!tmux/**
!vdirsyncer
!vdirsyncer/**
!vim
!vim/**
!wakatime
!wgetrc
!wgetrc/**
!X11
!X11/**
!zathura
!zathura/**
!coc
!npm
!zsh
