$rad: 14px;
$xsmall: 10px;
$small: 12px;
$normal: 14px;
$large: 16px;
$larger: 18px;

$glass: rgba(239, 241, 245, 0.85);
$trough: rgba(76, 79, 105, 0.1);

// --- Catppuccin Latte ---
$rosewater: rgba(220, 138, 120, 1.0);
$flamingo: rgba(221, 120, 120, 1.0);
$pink: rgba(234, 118, 203, 1.0);
$mauve: rgba(136, 57, 239, 1.0);
$red: rgba(210, 15, 57, 1.0);
$maroon: rgba(230, 69, 83, 1.0);
$peach: rgba(254, 100, 11, 1.0);
$yellow: rgba(223, 142, 29, 1.0);
$green: rgba(64, 160, 43, 1.0);
$teal: rgba(23, 146, 153, 1.0);
$sky: rgba(4, 165, 229, 1.0);
$sapphire: rgba(32, 159, 181, 1.0);
$blue: rgba(30, 102, 245, 1.0);
$lavender: rgba(114, 135, 253, 1.0);

$text: rgba(76, 79, 105, 1.0);
$subtext1: rgba(92, 95, 119, 1.0);
$subtext0: rgba(108, 111, 133, 1.0);
$overlay2: rgba(140, 143, 161, 1.0);
$overlay1: rgba(161, 165, 183, 1.0);
$overlay0: rgba(184, 187, 204, 1.0);
$surface2: rgba(172, 176, 190, 1.0);
$surface1: rgba(196, 198, 212, 1.0);
$surface0: rgba(204, 208, 218, 1.0);
$base: rgba(239, 241, 245, 1.0);
$mantle: rgba(230, 233, 239, 1.0);
$crust: rgba(220, 224, 232, 1.0);
