[Desktop Entry]
Name=NeoMutt E-Mail Client
Name[en_US]=NeoMutt E-Mail Client
Comment=Terminal Based E-Mail Client
Exec=st -c 'neomutt-send' -e neomutt %u
Terminal=false
Categories=Utility
Type=Application
Icon=email
StartupWMClass=neomutt
