[Desktop Entry]
Type=Application
Name=ranger
Comment=Launches the lf file manager
Icon=utilities-terminal
Terminal=false
Exec=st -c lf -e lf
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;inode/mount-point;x-scheme-handler/ssh;x-scheme-handler/smb;x-scheme-handler/nfs;x-scheme-handler/ftp;application/x-directory;
